---

---

<section class="extension-list">
    <h2>Extensions List</h2>
    <section class="filtering">
        <button class="filtering__btn active" data-selected="true">All</button>
        <button class="filtering__btn" data-active data-selected>Active</button>
        <button class="filtering__btn" data-inactive data-selected="false"
            >Inactive</button
        >
    </section>
</section>

<style>
    .extension-list {
        margin-top: 2rem;
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;
    }

    .filtering {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .filtering__btn {
        color: var(--text-color);
        padding: 0.5rem 1.2rem;
        border-radius: 5rem;
        border: 1px solid var(--secondary-color);
        background-color: var(--bg-main);
        cursor: pointer;
    }

    .filtering__btn:hover {
        background-color: var(--neutral-600);
    }

    .filtering__btn:focus-visible {
        outline: 2px solid var(--red-400);
        border-color: var(--neutral-800);
        outline-offset: 1px;
        background-color: var(--neutral-600);
    }

    .active {
        background-color: var(--red-700);
    }

    @media (width >= 768px) {
        .extension-list {
            flex-direction: row;
            justify-content: space-between;
        }
    }
</style>
