<label class="switch" tabindex="0">
    <input type="checkbox" class="checkbox" />
    <span class="slider"></span>
</label>

<style>
    .switch {
        --secondary-container: hsl(3, 71%, 56%);
        --primary: #84da89;
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
    }

    .switch:focus {
        outline: 2px solid var(--red-400);
        outline-offset: 2px;
        border-radius: 30px;
    }

    .switch input {
        display: none;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--neutral-600);
        transition: 0.2s;
        border-radius: 1.875rem;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        border-radius: 1.25rem;
        left: 0.2em;
        top: 0.2em;
        bottom: 0.2em;
        background-color: var(--neutral-0);
        transition: 0.4s;
    }

    input:checked + .slider {
        background-color: var(--secondary-container);
    }

    input:focus + .slider {
        box-shadow: 0 0 1px var(--secondary-container);
    }

    input:checked + .slider:before {
        transform: translateX(1em);
    }
</style>

<script>
    
</script>
