---
// import here all the global styles so they can be used in all the pages that use this layout
import '../styles/global.css';
import Header from "src/components/Header.astro";

interface Props {
	pageTitle?: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>David Sibrian {pageTitle ? "| " + pageTitle : ""}</title>
	</head>
	<body data-theme="dark">
		<div class="container">
			<Header />
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>

<style is:global>

	body {
		background: var(--dark-gradient);
		font-family: "Noto Sans", consolas;
	}

	.container {
		max-width: 1300px;
		margin: 0 auto;
		width: 95%;
	}
</style>
