---
import "@style/global.css";
import Header from "src/components/Header.astro";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>David Sibrian {pageTitle ? "| " + pageTitle : ""}</title>
	</head>
	<body data-theme="dark">
		<div class="container">
			<Header />
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>

<style>
	body {
		background: var(--dark-gradient);
		font-family: "Noto Sans", consolas;
	}

	.container {
		max-width: 1440px;
		width: 95%;
		margin: 0 auto;
	}
</style>
